<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojos</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <form class="dojo" action="index.html" method="post">
            First name:<br>
            <input type="text" name="firstname" value="Mickey"><br>
            Last name:<br>
            <input type="text" name="lastname" value="Mouse"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
