<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <p class="flash">{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="/entry" method="post">
      <p class="inner">Email Address: <input type="text" name="email"></p>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
