* {

    margin: 0;
    padding: 0;
    font-family: monospace;

}

.wrapper {
    width: 970px;
    margin: 20px;
}

a {

    color: #256db9;
}

h3 {

    margin-bottom: 20px;
}

.nav {
    margin-bottom: 30px;
}

    .nav p {

        display: inline-block;
        font-size: 1.2em;
        width: 600px;

    }

    .nav a {
        margin-left: 12px;
    }


.reviews {

    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
}

    .book_review {

        margin-bottom: 30px;

    }

    .book_review p {

        margin-left: 12px;
        margin-bottom: 8px;

    }

    .rating {
        margin-top: 8px;
        margin-bottom: 12px;
    }

    .rating img {
        width: 20px;
        vertical-align: middle;
    }

    .seperator {
        border-top: 1px solid black;
    }


    div.book_list {
        padding: 8px;
        border: 1px solid black;
        width: 300px;
        height: 100px;
        margin-left: 12px;
        resize: none;
        overflow-y: scroll;
    }

    .book_list a {
        display: block;
        margin-bottom: 8px;

    }

/*add book and review*/
form div {
    margin-bottom: 12px;
}

div.messages {

    margin-bottom: 12px;

}

    .error {
        color: red;
    }

    .success {

        color: #34a853;

    }


form p {
    width: 180px;
    display: inline-block;
    margin-left: 20px;
}

    input[type="text"] {
        padding-left: 4px;
    }

    label {
        font-weight: bold;
        vertical-align: top;
    }

    form div:first-of-type input[type="text"] {
        margin-left: 114px;
    }

    input[type="text"] {

        height: 20px;
        width: 250px;
        border: 1px solid black;

    }

    textarea {
        margin-left: 30px;
        padding: 4px;
        width: 360px;
        height: 100px;
        resize: none;
    }

    .btn {
        background-color: white;
        padding: 4px 8px;
        border: 1px solid black;
        box-shadow: 2px 2px black;
        margin-left: 318px;

    }

    .dropdown {
        height: 20px;
        background-color: white;
        width: 256px;
    }

    .stars {
        background-color: white;
        vertical-align: middle;
    }


/*show one book with reviews*/
h3.heading {
    margin-bottom: 4px;
}

.book {
    margin-bottom: 20px;
}

.book h3, .book p {
    margin-bottom: 8px;
}

.book_review p:last-of-type a {
    margin-left: 40px;
}

div.list {
    width: 450px;
}

div.add {
    width: 375px;
}

div.add h3 {

    margin-bottom: 4px;

}

    .add textarea {
        margin: 0;
    }

    .add .btn {
        margin-left: 264px;
        margin-bottom: 20px;
    }
