* {
    padding: 0px;
    margin: 0px;

}
body {
    width: 970px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.dBlue, h3, main header h4 {
    color: #26669c;
}
.blue {
    color: #0095ab;
}

/*header {
    display: inline-block;
    vertical-align: top;
}*/
header img {
    position: relative;
    top: 20px;
    width: 100px;
    height: 100px;
}
header h1 {
    display: inline-block;
    vertical-align: top;
    width: 700px;
    height: 75px;
    font-size: 3.6em;
    font-weight: 100;
    padding-top: 30px;
}
header h2 {
    width: 970px;
    height: 75px;
    background: linear-gradient(#2e6b9f, #5485ab, #2e6b9f);
    font-size: 3.2em;
    font-weight: 100;
    color: white;
    padding-left: 25px;
    padding-top: 10px;
}
aside {
    width: 220px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
  .aside_top {
    width: 200px;
    height: auto;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
  }
  aside h4 {
    padding: 20px 0px;
      color: black;
  }
  aside h4 span {
      color: red;
  }
  aside p {
    font-weight: bold;
    font-size: .9em;
    padding-bottom: 20px;
  }
  aside button {
      margin-left: 4px;
      margin-bottom: 2px;
      width: 190px;
      color: white;
      background: linear-gradient(#7cd0de, #18c3dd);
      border: 0px;
      border-radius: 3px;
      padding: 5px 0px;
      font-size: 1em;
      font-weight: 200;
  }
  button:first-of-type{
      background: linear-gradient(#6599c1, #346b9a);
  }
  button:last-of-type{
      background: linear-gradient(#ecb873, #ed7303);
  }
  .myBackground {
      width: 160px;
      height: 300px;
      padding: 20px;
      background-image: url("images/ad_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 20px;
  }
  .myBackground p {
      color: white;
      font-size: 1.3em;
      text-align: center;
  }
  .myBackground img {
      height: 150px;
      width: auto;
      position: relative;
      left: 25px;

  }

  .myBackground button {
    width: 160px;
      display: inline-block;
      text-decoration: none;
      position: relative;
      left: 2px;
      top: 20px;
      margin: 0px;
      color: white;
      background: linear-gradient(#7cd0de, #18c3dd);
      border: 0px;
      border-radius: 5px;
      /*padding: 2.800px 7px;*/
      font-size: 1em;
      font-weight: bold;
  }
.subhead, .house, .phone, .head_left, .head_right, .time, .number, .international {
  display: inline-block;
  vertical-align: top;
}
.subhead {
  width: 720px;
  height: 100px;
}
  .head_left {
    width: 450px;
    height: auto;
  }
  .head_right {
    width: 200px;
    height: auto;
  }
  .time {
    font-size: .6em;
  }
  .number{
    font-size: .8em
    font-weight: bold;
  }
  .international {
    font-size: .6em;
  }
  .house {
    position: relative;
    width: 20px;
    height: auto;
  }
  .phone {
    width: 40px;
    height: auto;
  }
.main_content {
    width: 700px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
  .main_content ul, ol{
    margin-left: 10px;
    list-style-position: inside;

  }
  img.server {
    width:200px;
    height: auto;
    display: block;
    margin: auto;
  }
.bottom {
  border: 5px solid  #0085e0;
  border-bottom: none;
}
.bottom h3, .bottom p {
  display: inline-block;
  vertical-align: top;
}
  .bottom img {
    width: 100px;
    height: auto;
    display: inline-block;
  }
