<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Books Home</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'books/css/style.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <div class="nav">
                <p>Welcome, {{ request.session.user }}!</p>
                <a href="{% url 'books:add_book' %}">Add Book and Review</a>
                <a href="{% url 'log_reg:logout' %}">Logout</a>
            </div>
            <div class="reviews">
                <h3>Recent Book Reviews:</h3>
                {% for review in reviews %}
                    <div class="book_review">
                        <a href="{% url 'books:show_book' id=review.book.id %}">{{ review.book.title }}</a>
                        <p class="rating">Rating:
                            {% for num in '12345' %}
                                {% if num <= review.rating|stringformat:"i" %}
                                    <img src="{% static 'books/images/star_1.jpg' %}" alt="star">
                                {% else %}
                                    <img src="{% static 'books/images/star_0.jpg' %}" alt="star">
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p><a href="{% url 'log_reg:user_reviews' id=review.user.id %}">{{ review.user.first_name }}</a> says: <em>{{ review.review }}</em></p>
                        <p><em>Posted on {{ review.created_at|date:'F d, Y' }}</em></p>
                    </div>
                {% endfor %}
            </div>
            <div class="reviews">
                <h3>Other Books with Reviews:</h3>
                {% if books %}
                <div class="book_list">
                    {% for book in books %}
                        <a href="{% url 'books:show_book' id=book.id %}">{{ book.title }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
